.background-container {
  min-height: 100vh;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBFbh1kUKST8Nnu_yqwVUaQfqqBmsDaK7X4A&s");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
:host{
    font-family: 'Times New Roman', Times, serif;
}
h1 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 50px;
}

